body {
    background-color: var(--dark-color);
    background-image: url(Speedline-2s-1360px.svg);
    overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap');


* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Saira Condensed', sans-serif;
}

:root {
    --light-color: #f7f1e3;
    --dark-color: #4b4b4b;
    --details: #6c5ce7;
}

span {
    margin: 20px;
}

#container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 10px;

}

input {
    padding: 15px;
    background-color: var(--light-color);
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    font-size: X-large;
}

input:focus {
    background-color: var(--details);
    color: var(--light-color);
}

#btn {
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    transform: rotate(-5deg);
    font-size: larger;

}

#btnDiv {
    background-color: var(--details);
    transform: rotate(5deg);
    position: absolute;
    bottom: 10px;
    width: 100%;
    z-index: -1;
}

#btn:hover {
    background-color: var(--details);
    color: var(--light-color);
}

h1 {
    color: var(--light-color);
    text-align: center;
    font-size: xx-large;
}

#check {
    display: flex;
    align-items: baseline;
    margin: 20px;
    width: 100%;
    justify-content: center;
    color: var(--light-color);
}

